.dataTables_paginate .pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $mm-gray-dark;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius($border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: #333;
      background-color:#eee;
      border-color: #ddd;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #333;
      background-color: #eee;
      border-color: #ddd;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      cursor: $cursor-disabled;
    }
  }
}
.dataTables_wrapper table thead tr th{
	background: #e8e8e8;
  	border-top: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px!important;
}
// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

//Fa icons

.dataTables_wrapper table tbody tr td .schedule-icon {
	color: $mm-blue1;
}
//.dataTables_wrapper table tbody tr td .delete-icon {
	//color: black;
//}
.dataTables_wrapper table tbody tr td .star-icon {
	color: $mm-pink;
}
.dataTables_wrapper table tbody tr td .lock-icon-black {
	color: #7F7F7F;
}
.dataTables_wrapper table tbody tr td .unlock-icon-black {
	color: #7F7F7F;
}
.dataTables_wrapper table tbody tr td .unlock-icon-grey {
	color: #C3C4C4;
}
.dataTables_wrapper table tbody tr td .delete-icon-black {
	color: #7C7C7C;
}
.dataTables_wrapper table tbody tr td .delete-icon-grey {
	color: #DFDEDA;
}